/* Styles for the MCS Home Page */

/* background gradiant from https://webgradients.com/ */
html{
  height: 100%;
  font-size: 16px;
}
body{
  background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);;
  background-repeat: no-repeat;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: black;
}
heading{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}

main-title{
   font-size: 1.25rem;
}

subtitle{
  font-size: 1.125rem;
}

section-title {
 font-size: 1.0625rem;
}